{% extends "layout.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block main %}
    <div class="mb-3 box py-5 mx-auto d-flex flex-column justify-content-center align-items-center">
        <h2>Hang Out is a</h2>
        <h2><strong>&nbsp;2-STEP PROCESS ✨</strong></h2>
        <h6 class="text-wrap mt-3">Feeling spontaneous? Streamline your plans with PlanIt!</h6>
        <a class="btn btn-primary rounded-pill px-4 pb-2 py-2 mt-3" href="/create-event" role="button">Get Started 🗓️</a>
    </div>

    <div class="d-flex align-items-center my-4">
        <hr class="flex-grow-1 me-3">
            <span class="text-muted">Recent Plans</span>
        <hr class="flex-grow-1 ms-3">
    </div>


    <div class="container w-75">
        <!-- Recent / Ongoing plans -->
        {% if plans %}
            <!-- Up to 4 cards per row -->
            <div class="d-flex flex-wrap justify-content-center gap-4">
                {% for plan in plans %}
                    <div class="col">
                        <!-- Adapted from: Bootstrap documentation -->
                        <!-- URL: https://getbootstrap.com/docs/4.4/utilities/stretched-link/ -->
                        <div class="card h-100 shadow" style="width: 250px; min-height: 250px;">
                            <!-- Calendar icon with grey bg-->
                            <div class="d-flex align-items-center justify-content-center bg-secondary c-height-div rounded m-2 mb-0">
                                {% if plan.status == 'Ongoing' %}
                                    <i class="bi bi-calendar2-week-fill plan-icon text-white"></i>
                                {% elif plan.status == "Confirmed" %}
                                    <i class="bi bi-calendar2-heart-fill plan-icon text-white"></i>
                                {% else %}
                                    <i class="bi bi-calendar2-x-fill plan-icon text-white"></i>
                                {% endif %}
                            </div>

                            <!-- Body Content -->
                            <div class="card-body">
                                <!-- Title -->
                                <h5 class="card-title text-start mb-1">
                                    {% if plan.status == "Ongoing" %}
                                        Expires in {{ plan.countdown }} day(s)
                                    {% elif plan.status == "Confirmed" %}
                                        Meet in {{ plan.countdown }} day(s)
                                    {% else %}
                                        Plan cancelled
                                    {% endif %}
                                </h5>

                                <div class="position-relative mt-1">
                                    <!-- Details -->
                                    <div class="card-text text-start">
                                        <!-- Plan status -->
                                        <p class="text-muted m-0">{{ plan.status }}</p>
                                        <!-- Responses or Chosen date -->
                                        {% if plan.status == "Ongoing" %}
                                            <span class="text-muted">{{ plan.responses }}/{{ plan.invitees }} responses</span>
                                        {% elif plan.status == "Confirmed" %}
                                            <span class="text-muted">{{ plan.chosen_date }}</span>
                                        {% else %}
                                            <span class="text-muted">&nbsp;</span>
                                        {% endif %}
                                    </div>

                                    <!-- Response type icon -->
                                    <!-- Adapted from: Bootstrap documentation -->
                                    <!-- URL: https://getbootstrap.com/docs/5.0/utilities/position/ -->
                                    <div class="position-absolute end-0 bottom-0 z-3">
                                        {% if session["user_id"] == plan.creator_id %}
                                            <i class="bi bi-patch-question-fill text-info fs-3" title="Creator"></i>
                                        {% else %}
                                            {% if plan.user_res is none %}
                                                <i class="bi bi-patch-exclamation-fill text-warning fs-3" title="Not responded"></i>
                                            {% elif plan.user_res == 1 %}
                                                <i class="bi bi-patch-check-fill text-primary fs-3" title="Confirmed"></i>
                                            {% else %}
                                                <i class="bi bi-patch-minus-fill text-secondary fs-3" title="Declined"></i>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                                {% if plan.status == "Ongoing" %}
                                <!-- Click anywhere on the card = Route to rsvp -->
                                <a href="/rsvp/{{ plan.token }}" target="_blank" class="stretched-link"></a>
                                {% elif plan.status == "Confirmed" %}
                                <!-- Click anywhere on the card = Route to scheduled -->
                                <a href="/scheduled/{{ plan.token }}" target="_blank" class="stretched-link"></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
        <div class="position-relative d-inline-block">
            <img src="static/bored_duck.png" class="img-fluid" width="200" height="200" alt="Grayscale image of bored duck with text">
            <!-- Adapted from: Bootstrap documentation -->
            <!-- URL: https://getbootstrap.com/docs/5.0/utilities/position/ -->
            <div class="position-absolute start-50 bottom-0 translate-middle-x text-center w-100 mb-4 fw-bold custom-text-muted">
                Nothing Here.
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}
