{% extends "side_bar.html" %}

{% block title %}
    Account Deletion
{% endblock %}

{% block page_title %}
    Delete Account
{% endblock %}

{% block main %}
    <form action="/delete-account" method="post">
        <main class="flex-grow-1 overflow-auto">
            <hr>
            <!-- Retype password -->
            <div class="col-auto text-start">
                <label for="psw-input" class="form-label mb-1 ms-3"><b>Retype Password</b></label>
                {% if has_password %}
                    <p class="feedback text-start ms-3 mb-1">{{ password_fb | default('') }}</p>
                    <div class="position-relative mb-4">
                        <input autocomplete="off" autofocus class="form-control rounded-pill py-2 ps-3 pe-5 ms-1 c-w-300" name="password"
                            id="psw-input" placeholder="Password" type="password">
                    </div>
                {% else %}
                    <div class="ms-3 mt-1">
                        <small class="text-muted">
                            <a href="/reset-password">Set password</a> or proceed to delete.
                        </small>
                    </div>
                {% endif %}
            </div>
            <hr>
            <!-- Submit button -->
            <button class="btn btn-danger rounded-pill px-4 pb-2 py-2 ms-1" type="submit">Delete</button>
        </main>
    </form>
{% endblock %}
