{% extends "layout.html" %}

{% block title %}
    RSVP Form
{% endblock %}

{% block main %}
    <form action="/rsvp/{{ token }}" method="post">
        <!-- Invitation -->
        <h5>Invitation from commander {{ event.username }} - <i>"Let's hangout!"</i></h5>
        <!-- Date range -->
        <p class="m-0">Between {{ event.start_date }} and {{ event.end_date }}</p>

        <!-- Focus -->
        <div class="col-auto text-start mb-3 mt-3">
            <input class="form-control mx-auto w-auto rounded-pill py-2 pr-3 selector" value="{{ event.focus_label }}"
                type="text" readonly>
        </div>
        <!-- Setting -->
        <div class="col-auto text-start mb-4">
            <input class="form-control mx-auto w-auto rounded-pill py-2 pr-3 selector" value="{{ event.setting_label }}"
                type="text" readonly>
        </div>
        <hr>

        <!-- Collapse toggles adapted from: Bootstrap documentation -->
        <!-- URL: https://getbootstrap.com/docs/5.3/components/collapse/ -->
        <div class="d-flex justify-content-center gap-3 m-2">
            {% if event.creator_id == session["user_id"] %}
                <!-- View Form button -->
                <button class="btn btn-secondary rounded-pill px-4 pb-2 py-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapsible-section"
                        aria-expanded="false" aria-controls="collapsible-section">View Form
                </button>
            {% else %}
                <!-- Interested button -->
                <button class="btn btn-primary rounded-pill px-4 pb-2 py-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapsible-section"
                        aria-expanded="false" aria-controls="collapsible-section">Interested
                </button>
                <!-- Not coming button -->
                <button class="btn btn-danger rounded-pill px-4 pb-2 py-2" type="submit" name="not-coming">Not coming</button>
            {% endif %}
        </div>
        <hr>

        <!-- Hidden section -->
        <div class="collapse" id="collapsible-section">
            <div class="row align-items-left text-start">
                <!-- Date pickers -->
                <p class="mb-2 ms-2"><b>Pick up to 3 dates:</b></p>
                <small class="mb-3 ms-2">Between {{ event.start_date }} and {{ event.end_date }}</small>
                <div class="d-flex flex-wrap d-flex justify-content-start align-items-center col-auto mb-3 gap-3" id="dp-wrapper">
                    <!-- Date picker adapted from: Codeply -->
                    <!-- URL: https://codeply.com/p/zU0EWDmIfn -->
                    <!-- Created by skelly -->
                    <div class="date-picker-ref ms-0">
                        <div class="input-group rounded-pill border border-1 overflow-hidden py-1 px-4 dp-div c-w-200">
                            <input
                                class="form-control border-0 outline-erase"
                                type="date"
                                name="date"/>
                        </div>
                    </div>

                    <!-- Plus Button 
                    <button id="add-btn" type="button" class="btn btn-secondary rounded-circle py-2">
                        <i class="bi bi-plus-lg"></i>
                    </button> -->
                    <!-- Buttons -->
                    <div class="d-flex align-items-center gap-3 mt-2 c-btn-div">
                        <!-- Plus Button -->
                        <button id="add-btn" type="button" class="btn btn-secondary btn-sm rounded-circle align-self-center">
                            <i class="bi bi-plus-lg"></i>
                        </button>
                        <!-- Remove Button -->
                        <button id="rmv-btn" type="button" class="btn btn-danger btn-sm rounded-circle align-self-center">
                            <i class="bi bi-dash-lg"></i>
                        </button>
                    </div>
                    
                </div>
                <p class="feedback mt-2 mb-0 ms-3">{{ date_fb | default('') }}</p>
                <hr>

                <!-- Activity Table -->
                <div class="col-auto text-start mb-4">
                    <p class="mb-2 ms-2"><b>Activity suggestions:</b></p>
                    <div class="d-flex flex-wrap gap-3 d-flex justify-content-start col-auto">
                        {% for topic in topics %}
                            <table class="table table-bordered m-0 flex-grow-0 flex-shrink-0 c-w-200">
                                <thead>
                                    <tr>
                                        <td><input type="text" class="form-control" name="topic" value="{{ topic.topic }}" readonly></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input type="text" class="form-control" name="idea_{{ topic.id }}" placeholder="(optional)"></td>
                                    </tr>
                                </tbody>
                            </table>
                        {% endfor %}
                    </div>
                </div>
                <hr>
            </div>

            {% if event.creator_id == session["user_id"] %}
                <a href="/" class="btn btn-secondary rounded-pill px-4 pb-2 py-2">Back to Dashboard</a>
            {% else %}
                <div class="d-flex justify-content-center gap-3">
                    <!-- Confirm button -->
                    <button class="btn btn-success rounded-pill px-4 pb-2 py-2" type="submit" name="confirm">Confirm</button>
                    <!-- Decline button -->
                    <button class="btn btn-danger rounded-pill px-4 pb-2 py-2" type="submit" name="decline">Decline</button>
                </div>
            {% endif %}
        </div>
    </form>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const addBtn = document.getElementById("add-btn");
            const rmvBtn = document.getElementById("rmv-btn");
            const btnDiv = document.querySelector(".c-btn-div");
            
            const wrapper = document.getElementById("dp-wrapper");
            const maxPickers = 3;
            const minPickers = 1;

            addBtn.addEventListener("click", () => {
                // Set clone limit and alert user
                const currentPickers = wrapper.querySelectorAll(".date-picker-ref").length;
                if (currentPickers >= maxPickers) {
                    alert(`You can only select up to ${maxPickers} dates.`);
                    return;
                }

                // Adapted from: W3 schools tutorials
                // URL: https://www.w3schools.com/jsref/met_node_insertbefore.asp
                // Clone date picker
                const firstPicker = wrapper.querySelector(".date-picker-ref");
                const newPicker = firstPicker.cloneNode(true);

                // Clear its input value
                const input = newPicker.querySelector("input[type='date']");
                input.value = "";

                // Insert date picker before the add button
                wrapper.insertBefore(newPicker, btnDiv);
            });

            rmvBtn.addEventListener("click", () => {
                // Set delete limit and alert user
                const currentPickers = wrapper.querySelectorAll(".date-picker-ref").length;
                if (currentPickers <= minPickers) {
                    alert("You cannot delete the last field.");
                    return;
                }

                // Select and remove the last table
                const lastPicker = wrapper.querySelectorAll(".date-picker-ref")[currentPickers - 1];
                lastPicker.remove();
            });
        });
    </script>
{% endblock %}
