{% extends "layout.html" %}

{% block title %}
    RSVP Form
{% endblock %}

{% block main %}
    <!-- Invitation -->
    <h5>Thank you for your response! <i class="bi bi-patch-check-fill text-primary"></i></h5>
    <p class="m-0">
        {% if res == 1 %}
            You've confirmed the invite.😎
        {% elif res == 0 %}
            You've declined the invite.😞
        {% endif %}
    </p>

    <!-- Response Details -->
    <div class="row g-3 align-items-left text-start">
        <p class="mb-2 ms-2"><b>Pick up to 3 dates:</b></p>
        <small class="m-0 ms-2">Between {{ event.start_date }} and {{ event.end_date }}</small>
        {% for date in dates %}
            <div class="d-flex align-items-center col-auto">
                <div class="date-picker-ref me-3">
                    <div class="input-group form-control rounded-pill overflow-hidden py-1 px-3 dp-div">
                        <input
                            type="date"
                            class="form-control border-0 outline-erase"
                            value="{{ date }}"
                            readonly/>
                    </div>
                </div>
            </div>
        {% else %}
            <p class="text-muted ms-2">No suggestions available.</p>
        {% endfor %}
        <hr>

        <!-- Activity Table -->
        <div class="col-auto text-start">
            <p class="mb-2 ms-2"><b>Activity suggestions:</b></p>
            <div class="d-flex flex-wrap">
                {% for a in activities %}
                    <table class="table table-bordered m-0" style="max-width:200px;">
                        <thead>
                            <tr>
                                <td><input type="text" class="form-control" value="{{ a.topic }}" readonly></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="text" class="form-control" value="{{ a.idea }}" readonly></td>
                            </tr>
                        </tbody>
                    </table>
                {% endfor %}
            </div>
        </div>
        <hr>
    </div>
    <!-- Back to dashboard button -->
    <a href="/" class="btn btn-secondary rounded-pill px-4 pb-2 py-2">Back to Dashboard</a>
{% endblock %}
